export "postgres://greenlight:IJqVf6sl4X65loN2s97728jxNVwktTiC@dpg-cm32dr21hbls73a34830-a.singapore-postgres.render.com/greenlight_rlwk"
# #export postgres://greenlight:mypass@localhost/greenlight
# export SMTP_HOST="sandbox.smtp.mailtrap.io"
# export SMTP_PORT="25"
# export SMTP_USERNAME="da3004e354e4e5"
# export SMTP_PASSWORD="5d743a5e6e17d7"
# export SMTP_SENDER="freeMoviesHub <no-reply@mayuraandrew.tech>"